.card_resultats {
    padding-top: 2.5vh;
    margin-top: 20%;
    padding: 20px;
}

.card_resultats-content img {
    margin-top: 20%;
    height: 200px;
    width: 80%;
    display: flex;
    margin: auto;
    text-align: center;
}

.card_resultats-content h3{
    text-align: center;
}

p.card_info-etablissement {
    padding: 2vh 0;
    color: rgb(133, 133, 133);
    text-align: center;
}

.btnMoreInfo {
    margin: 2vh 0;
    padding: 1.2vh;
    width: 100%;
    border: none;
    background-color: rgb(142, 142, 226);
}