.body_etablissement {
    background-color: #323333;
    color: white;
}

.title-etablissement-page h1{
    display: flex;
    margin-top: 25%;
    text-align: center;
    justify-content: center;
    color: #D66B24;
    font-size: xx-large;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.img-etablissement-page img {
    display: block;
    width: 80%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 15px 30px 1px grey;
}

.body_container h2{
    text-align: center;
    margin-top: 8%;
}

.select-horaire-etablissement-page {
    display: block;
    width: 77%;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
}

.adresse-etablissement-page {
    text-align: center;
    margin-top: 8%;
}

.description-etablissement-page {
    margin-top: 7%;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.avis-clients-etablissement-page {
    text-align: center;
    margin-top: 7%;
}

.p-avis-clients {
    margin-top: 5%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.etoiles-moyenne-client-avis {
    margin-top: 4%;
}

@media screen and (min-width : 993px) {
    .burger-button {
		display: none;
	}

	.burger-menu {
		display: none;
	}

    .title-etablissement-page h1{
        margin-top: 150px;
    }

    .img-etablissement-page img {
        margin-top: 50px;
        height: 300px;
        width: 400px;
        margin-left: 75px;
    }

    .select-horaire-etablissement-page {
        margin-top: -18%;
        margin-left: 35%;
    }

    .adresse-etablissement-page {
        margin-right: 11%;
        margin-top: 3%;
    }

    .description-etablissement-page {
        margin-left: 35%;
        padding-right: 45%;
        margin-top: 3%;
        padding-left: 0;
    }

    .avis-clients-etablissement-page {
        margin-left: 55%;
        margin-top: -12%;
    }

    .p-avis-clients {
        padding-left: 10%;
    }

    .footer_phone p{
        margin-left: 10%;
    }

    .footer_logo-maps {
        margin-left: 30%;
    }
}

@media screen and (min-width : 767px) and (max-width : 992px) {

    .title-etablissement-page h1{
    margin-top: 15%;
    }

    .img-etablissement-page img{
    margin-top: 10%;
    }

    .select-horaire-etablissement-page, .adresse-etablissement-page, .description-etablissement-page, .avis-clients-etablissement-page {
    margin-top: 4%;
    }
    .p-avis-clients{
    margin-top: 2%;
    }

    .select-horaire-etablissement-page{
    text-align: center;
    }

    .description-etablissement-page{
        display: flex;
    }
}
