.footer_container {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.footer_logo-maps img {
    position: relative;
    max-width: 100px;
    margin-left: 78%;
}

.footer_logo-maps {
    max-width: 100%;
    position: relative;
    right: 3%;
}

.button-add img {
    position: relative;
    max-width: 65px;
    bottom: 4px;
}

.button-add {
    max-width: 100%;
    position: relative;
}

.footer_phone p {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    font-size: larger;
    left: 10%;

}

.footer_end {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    max-height: 70px;
    width: 100%;
    background-color: #D66B24;
    border: 1px solid black;
    color: #ffffff;
    /* text-align: center; */
    font-size: 0.8em;
    padding: 5px;   
}

@media screen and (min-device-width: 760px) and (max-device-width: 992px) {
    .footer_container{
        gap: 30rem;
    }
}