.homepage img {
    background-size: cover;
    width: 100%;
    top: 0;
    left: 0;
}


body {
    margin: 0;
}

.icons {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10%;
}

.icons img {
    width: 50px;
    height: 50px;
}

.search-bar {
    width: 100%;
    color: white ;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: larger;
    font-weight: 600;
    position: absolute;
    text-align: center;
    top: 50%;
}

#lieu {
    border-radius: 30px;
    height: 30px;
    text-align: center;
    font-weight: 900;
    width: 8rem;
}




#searchTextField {
    background-color: rgb(255, 255, 255, 0.7);
    border: 2px white;
    border-radius: 30px;
    height: 30px;
    text-align: center;
    color: black;
    font-weight: 900;

}

.logoHome img {

    position: absolute;
    top: 20px;
    width: 60px;
    left: 10%;
}






 /***************************** RESPONSIVE ******************************/
 @media screen and (min-width : 993px) {
    .homepageMobile img {
        display: none;
    }

    .navigation-mobile {
        display: none;
    }

    .logo {
        display: none;
    }
}

/************************* width <= 992 px *****************************/

@media screen and (max-width : 992px) {
    .homepage img {
        display: none;
    }

    .homepageMobile img {
        width: 100%;
        /* background-size: cover; */
        top: 0;
        height: 100vh;
    }

    .navigation-desktop {
        display: non;
    }
    .logoHome {
        top: 0;
        left: 2rem;
        position: absolute;
    }


    .logoHome img {

        width: 60px;
    }
    .icons {
        margin: auto;
    }
    
    input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    
}

/************************* width <= 768 px *****************************/

@media screen and (max-width : 768px) {
    .homepage img {
        display: none;
    }
    .logoHome {
        top: 0;
        left: 0;
        position: absolute;
    }


    .logoHome img {

        width: 60px;
    }
    
}

/************************* width <= 500 px *****************************/

@media screen and (max-width : 500px) {

    .homepage {
        display: none;
    }

    .homepageMobile {
        position: relative;
    }

    .homepageMobile img {
        width: 100%;
        /* background-size: cover; */
        top: 0;
        height: 100vh;
    }
    .navigation-desktop {
        display: none;
    }

    .icons {
        margin: auto;
    }

    .container {
        position: relative;

    }
    input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .logoHome {
        top: 0;
        left: 10%;
        position: absolute;
    }


    .logoHome img {

        top: 10px;
        width: 60px;
        left: 10%;
    }

   
}

    