.h1-inscription {
    color: #D66B24;
    font-size: 2em;
    margin: 0 0 20px;
    text-align: center;
    margin-top: 30%;
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

.msg {
    color: white;
    font-size: 1em;
    text-align: center;
    top: 15%
}

@media screen and (min-width: 993px) {
    .h1-inscription {
        margin-top: 8%;
    }
    form ul {
        margin-top: 20%;
    }

    .msg {
        top: 20%
    }
}

@media screen and (min-device-width: 760px) and (max-device-width: 992px) {
    .h1-inscription {
        margin-top: 20%;
    }

    .msg {
        top: 27%;
    }
}


@media screen and (max-width: 759px) {
    .h1-inscription {
        margin-top: 10%;
    }
    form ul {
        right: 15%;
        left: 15%;
    }

}


