@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
.resultatsPage {
	background-color: #323333;
}

.container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 10em auto;
	margin-bottom: 2rem;
	height: 350px;
	width: 700px;	
}

.product-details {
	position: relative;
	text-align: left;
	overflow: visible;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;
}

.container .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
}

.container .product-details > p {
	font-family: 'Roboto condensed', serif;
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	margin-top: 25px;
	width: 100%;
}

.control{
	position: absolute;
	left: 22.8%;
	margin-top: 5%;
}
.btn {
	border-radius: 5px;
    position: relative;
    overflow: hidden;
	cursor: pointer;
	background: #D66B24;
	color: #eee;
	margin-left: 100px;
	margin-bottom: -12px;
	border: none;
}

.btn span {
    font-family: 'Bree Serif', serif;
	display: inline-block;
    padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	font-weight: bolder;
}

.product-image {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 45%;
}


@media screen and (max-width : 500px) {
	.container {
		height: auto;
		width: 90%;
	}
	.product-image {
		display: block;
	}

	.product-image img {
		width: 300px;
		display: flex;
		margin: 13%;
		padding-top: 40%;
	}

	.product-details {
		overflow: visible;
		width: 100%;
	}

	.btn {
		margin-left: auto;
		margin-right: auto;
		width: 260px;
	}

	.control {
		left: auto;	
	}

	.container .product-details h1 {
		margin-left: 20%;
	}

	
}

@media screen and (min-width : 993px) {
	.burger-button {
		display: none;
	}

	.burger-menu {
		display: none;
	}
}
