@import url('./reset.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./burger.css');
@import url('./etablissement.css');
@import url('./homepage.css');
@import url('./pageResultats.css');
@import url('./style.css');
@import url('./contact.css');
@import url('./login.css');


* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    text-decoration: none;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

o {
    color: #D66B24;
}

h1 {
    font-size: 2em;
    margin: 0 0 20px;
}

h2 {
    font-size: 1.5em;;
    margin: 0 0 15px;
}

header nav ul {
    display: flex;
    flex-direction : row;
    justify-content: center;
    
    @media(max-width: 450px) {
        flex-flow: column wrap;
    }
}

header nav ul li a {
    padding: 1em;
    display: block;
    text-align:center;
    text-decoration: none;
    color: white;
}
ul, header {
    top: 1rem;
    position: absolute;
    background-color: transparent;
    left: 25%;
    right: 25%;
    gap: 4rem;
}
header nav ul li a:link {
    color: white;
}

header nav ul li a:visited {
    color: rgb(255, 255, 255);
}

header nav ul li a:hover {
    color: white;
    background-color: #D66B24;
    border-radius: 5px;
}

header nav ul li a:active {
    color: black;
    background-color: #0099cc;
}



@media screen and (max-width: 575px) {
    #main {
      display: block;
    }
}